<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h3>{{ site.title | default: site.github.repository_name }}</h3> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}<p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <br/><br/><br/><br/><br/><br/><p>This project is maintained by <br/><a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        <br/>Project members:<br/>
          <a href="http://vishalanand.net" target="_blank">Vishal Anand</a><br/>
          <a href="http://www.cs.columbia.edu/~smara/index.html" target="_blank">Smaranda Muresan</a><br/>
          <a href="https://www.linkedin.com/in/efsuns/" target="_blank">Efsun Kayi</a>{% endif %}
        {% if site.github.is_user_page %}<p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>{% endif %}
      </header>
      <section>
      {{ content }}
      <select id="name1" name="aa" onchange="readBox()">
          <option value="123">Please select</option>
          <option value="1ndNXEMrekWBqraIInvAXW27RIXtkdlXiWoW7IhM_QaM">Swahili-CCA</option>
          <option value="1Z1EtELej4RCg4Ftn8BmGWvXhXJFUSbOXS3t60gEEZW4">Swahili-Clusters</option>
       </select>
      <!-- <input type="text" id="name">
      <input type="button" value="Visualize" onclick="readBox1()"> -->
      <div id="container" style="height: 500%"></div>
       <script type="text/javascript" src="https://cdn.rawgit.com/vishalanand/multilingual-context/b4521540/echarts-all-3.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <script type="text/javascript">
       function readBox()
       {
            var sheetValue = document.getElementById("name1");
            if (sheetValue.value=='123')
                invoke("1ndNXEMrekWBqraIInvAXW27RIXtkdlXiWoW7IhM_QaM");
            invoke(sheetValue.value)
       }
       function readBox1()
       {
        var sheetValue = document.getElementById("name");
        invoke(sheetValue.value)
       }
       function invoke(keyValue)
       {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var key = keyValue;
        var url = "https://spreadsheets.google.com/feeds/list/" + key + "/od6/public/values?alt=json";
        var obj = {}
        $.get(url, function (result) {
            var data = [];
            $(result.feed.entry).each(function (index, row) {
                if (obj[row.gsx$language.$t] == undefined) { obj[row.gsx$language.$t] = [] }
                obj[row.gsx$language.$t].push([row.gsx$x.$t, row.gsx$y.$t, 0.2, row.gsx$word.$t, row.gsx$language.$t])
            });
            var series = []
            var legend = []
            for(var className in obj) {
                legend.push(className);
                series.push({
                    name: className,
                    type: 'scatter',
                    data: obj[className],
                    itemStyle: {normal: {opacity: 0.8}},
                    symbolSize: function (val) {return val[2] * 40;}
                });
            }
            option = {
                animation: true,
                legend: {data: legend, type: "scroll"},
                tooltip: {},
                xAxis: {type: 'value', splitLine: {show: true}},
                yAxis: {type: 'value', splitLine: {show: true}},
                dataZoom: [{type: 'slider',show: true,xAxisIndex: [0]},
                    {type: 'slider',show: true,yAxisIndex: [0],left: '93%'},
                    {type: 'inside',xAxisIndex: [0]},
                    {type: 'inside',yAxisIndex: [0]}
                ],
                series: series
            };
            if (option && typeof option === "object") {myChart.setOption(option, true);}
        });
       }
       readBox("123");
       </script>
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>
